<div>
    <form action="/action_page.php">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Your email..">
  
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name..">

      <label for="bio">Bio</label>
      <input type="text" id="bio" name="bio" placeholder="Bio..">
  
      <label for="active">Active?</label>
      <select id="active" name="active" aria-placeholder="Yes">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    
      <input type="submit" value="Submit">
    </form>
  </div>