<br>

<div class="container">
    <p><b>Edit Form</b></p>
    <form [formGroup]="editForm">
        <div class="form-group">
            <label for="id">Id:</label>
            <input formControlName="id" class="form-control" type="number" id="id" name="id">
            <div *ngIf="id?.invalid && (id?.dirty || id?.touched)" class="text-danger">
                <div *ngIf="id?.errors?.['required']">
                    Id number is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input formControlName="title" class="form-control" type="text" id="title" name="title">
            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="text-danger">
                <div *ngIf="title?.errors?.['required']">
                    Name is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="authors">Author:</label>
            <input formControlName="authors" class="form-control" type="text" id="name" name="name">
            <div *ngIf="authors?.invalid && (authors?.dirty ||authors?.touched)" class="text-danger">
                <div *ngIf="authors?.errors?.['required']">
                    Author is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input formControlName="isbn" class="form-control" type="text" id="isbn" name="isbn">
        </div>
        <div *ngIf="isbn?.invalid && (isbn?.dirty || isbn?.touched)" class="text-danger">
            <div *ngIf="isbn?.errors?.['required']">
                ISBN is required
            </div>
        </div>
        <button class="btn btn-success" (click)="addeditFormData(editForm.value)">Submit</button>
        <button class="btn btn-info" (click)="clear()">Clear</button>
    </form>
</div>