<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Authors</th>
                <th scope="col">Isbn</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of bookList, let i = index">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.authors}}</td>
                <td>{{data.isbn}}</td>
                <td><button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger" (click)="deleteAction(i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" (click)="showForm()">Add Items</button>
</div>
<div *ngIf="show">
    <app-newform (newFormDataEvent)="addNewForm($event)"></app-newform>
</div>

