<br>
<div class="container">
    <form [formGroup]="newForm">
        <div class="form-group">
            <label for="id">Id:</label>
            <input formControlName="id" class="form-control" type="number" id="id" name="id">
            <div *ngIf="id?.invalid && (id?.dirty || id?.touched)" class="text-danger">
                <div *ngIf="id?.errors?.['required']">
                    Id number is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input formControlName="name" class="form-control" type="text" id="name" name="name">
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
                <div *ngIf="name?.errors?.['required']">
                    Name is required
                </div>
            </div>
        </div>
        <ng-container formArrayName="authors">
            <label for="author">Authors: </label><br>
            <div class="input-group mb-3" *ngFor="let group of authorForms.controls; index as i" [formGroupName]="i">
                <div>
                    <input formControlName="authorName" class="form-control">
                </div>
                <button class="btn btn-danger" (click)="deleteAuthor(i)">Delete</button>
            </div>
            <button class="btn btn-info btn-sm" (click)="addAuthor()">Add Author</button>
        </ng-container>

        <br>
        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input formControlName="isbn" class="form-control" type="text" id="isbn" name="isbn">
        </div>
        <div *ngIf="isbn?.invalid && (isbn?.dirty || isbn?.touched)" class="text-danger">
            <div *ngIf="isbn?.errors?.['required']">
                ISBN is required
            </div>
        </div>
        <button class="btn btn-success" (click)="addNewFormData(newForm)">Submit</button>
        <button class="btn btn-info" (click)="clear()">Clear</button>
    </form>
</div>

